<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div> 
<div class="row">
  <div class="col-xs-12">

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <a class="dropdown-toggle btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recepi
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recepi</a></li> 
        <li><a class="dropdown-item" href="#">Delete Recepi</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>